Notification/bin/Debug/Notification.exe
Notification/bin/Debug/Notification.pdb
Notification/obj/x86/Debug/Notification.MainForm.resources
Notification/obj/x86/Debug/Notification.Properties.Resources.resources
Notification/obj/x86/Debug/Notification.csproj.FileListAbsolute.txt
Notification/obj/x86/Debug/Notification.csproj.GenerateResource.Cache
Notification/obj/x86/Debug/Notification.exe
Notification/obj/x86/Debug/Notification.pdb 